body {
  background-color: beige;
}

.container {
  box-sizing: border-box;
  background-color: lavender;
  border: 3px black solid;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.noticia {
  box-sizing: border-box;
  background-color: white;
  border: 3px red solid;
  /*margin: 5px;*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.not1 {
  width: 100%;
}

img {
  width: 200px;
  height: 200px;
}
